// Define fonts for body and headers
// $title-font: "SwitzerBold";
// $subtitle-font: "SwitzerSemibold";
// $body-font: "SwitzerRegular";

$compteur-font: "ClashDisplayBold";


@font-face {
  font-family: 'Switzer';
  src: url('Switzer-Variable.woff2'),
       url('Switzer-Variable.woff'),
       url('Switzer-Variable.ttf');
}

@font-face {
  font-family: 'ClashDisplayBold';
  src: url('ClashDisplay-Bold.woff2'),
       url('ClashDisplay-Bold.woff'),
       url('ClashDisplay-Bold.ttf');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}
