<div class="popup" data-form-target="popup">
  <h3 class="title">Merci pour la force !</h3>

  <p>
    Tu as du recevoir un mail de confirmation à <strong class="email"><%= registrant.email %></strong>,
    nous te tiendrons au courant des actus
  </p>

  <p>A très vite sur Compet' en Vill'</p>

  <p class="btn" data-action="click->form#hidePopup">Super</p>
</div>
