.container {
  height: 100vh;
  .blue-container {
    background-color: $blue;
    color: white;
    height: 54vh;
    padding: 8vh 8vw;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    overflow: hidden;
    position: relative;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 12px;

      .title {
        z-index: 2;
        font-family: $title-font;
        font-size: 1.6rem;
      }
      .desc {
        z-index: 2;
        font-size: 1rem;
        font-family: $body-font;
        color: rgb(224, 224, 224);
      }
      @media (min-width: 720px) {
        .title {
          font-size: 1.8rem;
        }
        .desc {
          font-size: 1.2rem;
        }
      }
      @media (min-width: 1080px) {
        .title {
          font-size: 2rem;
        }
        .desc {
          font-size: 1.4rem;
        }
      }

    }
    .registants {
      display: flex;
      flex-direction: column;
      z-index: 2;
      .count {
        font-family: $compteur-font;
        font-size: 3rem;
        font-weight: 700;
      }
      .text {
        font-family: $subtitle-font;
        font-size: 3rem;
        font-weight: 400;
      }
      @media (min-width: 720px) {
        .count {
          font-size: 3.2rem;
        }
        .text {
          font-size: 3.2rem;
        }
      }

      @media (min-width: 1080px) {
        .count {
          font-size: 3.5rem;
        }

        .text {
          font-size: 3.5rem;
        }
      }
    }
    .deco {
      height: 50vh;
      width: 200vw;
      background-color: $dark-blue;
      position: absolute;
      bottom: -35vh;
      left: -50vw;
      transform: rotate(-17deg);
    }
    @media (min-width: 720px) {
      .deco {
        bottom: -30vh;
        transform: rotate(-15deg);
      }
    }
    @media (min-width: 1080px) {
      .deco {
        bottom: -25vh;
        transform: rotate(-12deg);
      }
    }
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28%;
    .form {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      width: 84vw;
      padding-bottom: 1rem;
      #email-label {
        font-size: 1rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.86);
      }
      #email-input {
        border-radius: 3px;
        padding: 10px;
        border: 1px solid $blue;
        margin-bottom: 0.4rem;
        font-size: 1rem;
        &:focus-visible {
          border: 1px solid $dark-blue !important;
          outline: none;
        }
      }
      #submit {
        background-color: $blue;
        color: white;
        border-radius: 3px !important;
        font-weight: 700;
        font-size: 1rem;
        padding: 11px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
