.container {
  height: 100vh;
  .blue-container {
    background-color: $blue;
    color: white;
    height: calc(72% - 8rem);
    padding: 2rem;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    overflow: hidden;
    position: relative;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;

    }
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      .title {
        font-size: 1.6rem;

      }
      .desc {
        font-size: 1.1rem;
        color: rgb(224, 224, 224);
      }

    }
    .registants {
      display: flex;
      flex-direction: column;
      z-index: 2;

      .count {
        font-size: 3rem;
        font-weight: 700;
      }
      .text {
        font-size: 3rem;
        font-weight: 400;
      }
    }

    .deco {
      height: 28vh;
      width: 200vw;
      background-color: $dark-blue;
      position: absolute;
      bottom: -15vh;
      left: -50vw;
      transform: rotate(-17deg);
    }

  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28%;
    .form {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      width: 80vw;
      padding-bottom: 1rem;
      #email-label {
        font-size: 1rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.86);
      }
      #email-input {
        border-radius: 3px;
        padding: 10px;
        border: 1px solid $blue;
        margin-bottom: 0.4rem;
        font-size: 1rem;
        &:focus-visible {
          border: 1px solid $dark-blue !important;
          outline: none;
        }
      }
      #submit {
        border: none;
        background-color: $blue;
        color: white;
        border-radius: 3px;
        font-weight: 700;
        font-size: 1rem;
        padding: 11px;
      }
    }
  }
}
