@import url('config/fonts/clash/css/clash-display.scss');
@import url('config/fonts/switzer/css/switzer.scss');
@import "config/colors";
@import "config/fonts";
@import "config/home";
@import "components/index";
@import "font-awesome";

body {
  margin: 0;
  background-color: $blue;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  // font-family: 'ClashDisplay-Regular';
}

h1 {
  font-family: 'Switzer';
  font-weight: 700;
}

h2 {

  font-family: $compteur-font;
}

p {
  font-family: 'Switzer';
  font-weight: 400;
}

h3 {
  font-family: 'Switzer';
  font-weight: 500;
}
